p{
    font-family:"comic sans ms", arial, sans-serif ;
    font-style: italic; 
     font-size: 1.5em; /*tamanho da fonte */
     font-weight: 600; /*grossura da fonte */
    font-variant: small-caps; /* tudo em maiusculo
 */

}