body{
    padding: 0;
    margin: 0;
    text-transform:uppercase ;

}
/*
.container{
    background-color: red;
    padding: 5px;
    border: 5px solid blue;
    margin: 10px; 
}

.content{
    background-color: #ddd;
    border: 5px solid green;
    padding: 5px;

}
*/
.square1{ /*observar as somatórias das bordas padding*/
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid blue;
    padding: 10px;
}

.square2{ 
    width: 140px;/* diferença na largura para ficar com o mesmo tamanho do square1 */
    height: 100px;
    background-color: yellow;
}

