@charset "UTF-8";
@font-face {
    font-family: 'Passion One';
    src: url(fonts/PassionOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Sriracha';
    src: url(fonts/Sriracha-Regular.ttf) format('truetype');
}

:root {
    --font-primary: 'Passion One', cursive;
    --font-second: 'Sriracha', cursive;
    --font-third: Verdana, Geneva, Tahoma, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*===============>>FONTES<<================*/
.primaryfont {
    font-family: var(--font-primary);
}
.secondfont {
    font-family: var(--font-second);
}
.thirdfont {
    font-family: var(--font-third);
}


/*===============>>GERAL<<================*/
body {
    font-family: var(--font-third);
}

a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
   text-decoration: underline; 
}


/*===============>>CABECA<<================*/
header.cabecalho {
    background-color: #000;
    text-align: center;
    color: #FFF;
}
header.cabecalho > h1 {
    padding-top: 50px;
    font: 8.5vw var(--font-primary);
    font-variant: small-caps;
}
@media (min-width:800px) {
    header.cabecalho > h1 {
        font-size: 6vw;
    }
}
header.cabecalho > p {
    padding-bottom: 50px;
}


/*===============>>CORPO<<================*/
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font: 2.8vw var(--font-second);
}
@media (min-width:800px) {
    section {
        font-size: 1.8vw;
    }
}
section > p {
    padding-bottom: 2em;
}

section.normal { 
    background-color: #FFF;
    color: #000;
}
section.imagem { 
    background-color: #444;
    color: #FFF;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.313);
}
section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px #000;
    padding: 10px;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section#img02 { 
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}



/*===============>>RODAPE<<================*/
footer {
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 10px;
}